<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRUD Operations" verbose="1">
    <test name="Single operations">
        <packages>
            <package name="gists.crud"/>
        </packages>
    </test>
    <test name="Scenarios">
        <packages>
            <package name="gists.scenario"/>
        </packages>
    </test>
</suite>